{% extends 'base.html' %}

{% block content %}
  <div>
    {% if is_edit %}
      Edit note
    {% else %}
      Add note
    {% endif %}
  </div>

  <form method="post">

    {% csrf_token %}

    {% for field in form %}
      <label for="{{ field.id_for_label }}">
        {{ field.label }}
        {% if field.field.required %}
          <span>*</span>
        {% endif %}
      </label>
      {{ field }}
      {% if field.help_text %}
        <small id="{{ field.id_for_label }}-help">
          {{ field.help_text|safe }}
        </small>
      {% endif %}
    {% endfor %}
    {{ form.errors }}

    <div>
      <button type="submit">
        {% if is_edit %}
          Save
        {% else %}
          Add
        {% endif %}
      </button>
    </div>
  </form>
{% endblock  %}
